body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero-section {
    background-image: url('https://images.unsplash.com/photo-1724391114112-c83ad59f1d5f?fm=jpg&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&ixlib=rb-4.1.0&q=60&w=3000');
    background-size: cover;
    background-position: center;
    height: 93vh;
    min-height: 420px;
    display: flex;
    align-items: center;
}

.search-box {
    max-width: 900px;
    border-top: 5px solid #dc3545;
}

.car-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.car-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15) !important;
}

.car-card img {
    height: 200px;
    object-fit: cover;
}

.shadow-hover {
    transition: box-shadow 0.3s ease;
}

.shadow-hover:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.product-img {
    height: 180px;
    object-fit: cover;
}

.vote-badge {
    font-size: .9rem;
    padding: .2rem .5rem;
}

a {
    text-decoration: none;
    color: white;
}



.contenedor-autos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card-auto {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
    padding: 15px;
    text-align: center;
    transition: transform 0.2s;
}

.card-auto:hover {
    transform: scale(1.03);
}

.card-auto img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 8px;
}

.card-auto h3 {
    margin-top: 10px;
    font-size: 18px;
}

.card-auto p {
    font-size: 14px;
    margin: 5px 0;
}

.card-auto .precio {
    font-weight: bold;
    font-size: 16px;
    color: #0074d9;
}

.filtros {
    display: flex;
    gap: 10px;
    padding: 20px;
    justify-content: center;
}

.filtros button {
    padding: 8px 15px;
    background: #0074d9;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.filtros button:hover {
    background: #005bb5;
}
